.pj{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border:2px solid gray;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.pj-browser{
    height: 20px;
    background-color: gray;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.pj-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}
.pj-image {
    width: 100%;
    transition: all 10s ease;
}
.pj:hover .pj-image {
    transform: translateY(-100%)
}